.card{
    border: 1px solid grey;
    border-radius: 5px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-header{
    display: flex;
    margin: 10px;
}
.card-header-name{
    font-weight: bold;
}
.card-header-place{
    color: grey;
}
.card-header span{
    margin-left: auto;
    align-self: center;
    cursor: pointer;
}

.card-image img{
    object-fit: cover;
    width: 99%;
    /* height: 100%; */
}

.card-actions{
    padding: 10px;
}
.card-actions span{
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
}
.card-actions span:last-child{
    float: right;
    
}

.likes{
    margin-left: 10px;
    color: grey;
    font-size: 12px;
}

.description{
    margin-left: 10px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}